
.modalWindow {

    .room {
        text-align: center;
        h3 {
            margin-top: -10px;
            div {
                font-size: small;
            }
        }
        img {

            height: 250px;
            width: 400px;
            margin-bottom: 20px;
        }
    }
}